* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-primario:#fff;

}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-primario);
}

.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  transition: all .5s ease-out;
  background: rgb(51,51,51,0.602);
}

.contenedor__titulo {
  display: flex;
  align-items: center;
  text-align: center;
}

.contenedor__mensaje {
  padding: 1rem;
}

.contenedor__subtitulo {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.contenedor__boton {
  padding: 1rem;
  font-weight: 400;
  background-color: #6B5AC9;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: var(--color-primario);
}

.contenedor__boton:hover {
  background-color: var(--color-primario);
  color: #6B5AC9;
}

.form {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
  background: rgb(51,51,51,0.602);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form__titulo {
  padding: 2.7rem;
  font-size: 1.7rem;
}

.form__contenedoriconos {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.form__iconos {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin var(--color-primario);
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all .3s ease-in;
}

.form__iconos:hover {
  background-color: #6B5AC9;
  cursor: pointer;
}

.form__parrafo {
  padding: 2rem 0;
}

.form__input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: solid thin var(--color-primario);
  text-align: center;
  outline: none;
 /* padding: 2rem 0;*/
  font-size: .9rem;
  color: var(--color-primario);
}

.form__input-color {
  width: 70%;
  padding: .7rem;
  margin: auto;
  border: solid thin #fff;
  border-radius: 2rem;
  background-color: #fff;
  font-weight: 600;
  margin-top: 3rem;
  font-size: .8rem;
  cursor: pointer;
  color: #6B5AC9;
}

.form__input-color:hover {
  color: #fff;
  background-color: transparent;
}

.alerta {
  width:90%;
  text-align: center;
  margin: auto;
  color: rgb(255, 129, 129);
  padding-top: 2rem;
  font-size: .8rem;
}